h2{
  font-family: 'Sono', sans-serif;
}

h4{
  font-family: 'Nunito', sans-serif;
}

#gridWrap{
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 2%;
  height: 100%;
  grid-auto-rows: minmax(10em, auto);
}

#topInfoBox{
  display: flex;
  background: #eef8ff;
}

.statTextBox{
  border:1px solid;
  height: 10%;
  max-height: 10%;
  display: block;
}

#theStats{
  width: 100%;
  max-height: 20em;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}

textarea {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  min-height: 25em;
  resize: none; /* Remove this if you want the user to resize the textarea */
  font-family: 'Nunito', sans-serif;
}

body{
  background: #EAF6FF;
}
.pageElement{
  word-break: break-all;
}
.topText{
  word-break: break-word;
}

#statsBox{
  margin-top: 8%;
}
#searchBox{
  margin-top: 6%;
}






/* a button styling i found online */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-top: 1%;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  width: 100%;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

